*{
    font-family: 'Nova Square', sans-serif;
}
#loginform{
    position: relative;
    width: 379px;
    height: 358px;
    left: 558px;
    top: 149px;
}
#loginform:hover{
color: #27c230;
background-color: black;
border: 3px solid black;
border-radius: 30px;
}
#loginform h1{
    text-align: center;
}
.loginbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginbox form{
    text-align: center;
}
.heading{
    font-size: 35px;
}
input{
    margin: 8px;
    width: 300px;
    border-radius: 11px;
    text-align: center;
    overflow: scroll;
    border: 3px solid green;
    /* background-color: black; */
    height: 30px;
    font-size: 17px;
}
.btn{
    position: relative;
    margin-top: 30px;
    border: 4px solid rgb(24, 197, 24);
    background-color: black;
    color: white;
    width: 300px;
    height: 50px;
    border-radius: 9px;
    font-size: 26px;
}
.btn:hover{
    font-weight: bold;
    background-color: #27c230;
    cursor: pointer;
    font-size: 29px;
    /* animation-name: sumanth;
    animation-iteration-count: 3;
    animation-delay: 0s;

    @keyframes sumanth {
        from
        
    } */
}
#video{
    position: fixed;
    top: 0px;
    left: 0px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: relative;
    top: 87px;
}
.container::before{
    content: "_______________ ";
}
.container::after{
    content: "_______________ ";
}
#or{
    padding: 8px;
    top: 9px;
    position: relative;
}
.new{
    text-align: center;
    position: relative;
}
.new a{
    padding: 0px 8px;
    text-decoration: none;
    color: red;
}
.new p{
    font-size: 19px;
}
.glogin{
    position: relative;
    top: 53px;
    border: 2px solid black;
    height: 45px;
    width: 300px;
    left: 30px;
    background-color: #bebdbd;
    margin: 8px;
}
#firstp{
    position: relative;
    text-align: center;
    bottom: 10px;
    font-size: 18px;
}
.glogin img{
    position: relative;
    height: 30px;
    float: left;
    top: 5px;
}
.glogin:hover{
    cursor: pointer;
    background-color: rgb(120, 117, 117);
}